@import url("https://use.typekit.net/poe7tgk.css");

.App__parent {
  min-width: 1366px;
}

.App__content-container {
  width: 100%;
  min-height: calc( 100vh - 50px );
  box-sizing: border-box;
  padding: 0px 250px;
}

.App__content {
  background-color: #FFF;
  min-height: calc( 100vh - 50px );
  position: relative;
  z-index: 1;
  padding: 32px;
  box-sizing: border-box;
}